.main-navbar {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  padding: 20px;
  width: 100%; /* Set width to ensure it takes full width of its container */
}

.upper-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.left-content-text {
  font-family: Poppins;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.right-content-text {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.01em;
  text-align: center;
}

