
  
  .icon {
    color: #EAECF0;
    font-size: 30px; /* Base font size for the icons */
    transition: color 0.3s, transform 0.3s;
    transform: scale(1.1); /* Slightly larger icon when active */
    border-radius: 50%; /* Make the icon circular */
  }
  
  .icon-wrapper {
    display: flex;
    flex-direction: column;
  }
  
  .icon.active {
    background-color: #F4EBFF;
    color: #6941C6;
    font-size: 28px; /* Increase font size for active icons */
    transform: scale(1.1); /* Slightly larger icon when active */
  }
  
  
  .form-progress-bar-wrapper {
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  
  .form-progress-bar {
    width: 100%; /* Ensure it spans the full width */
    display: flex;
    justify-content: center; /* Center the children horizontally */
    align-items: center;
  }
  
  .line {
    color: #EAECF0;
    flex-grow: 1; /* Allows the line to grow and fill available space */
    height: 2.5px;
    background-color: #EAECF0;
    transition: background-color 0.3s;
  }
  
  @media (max-width: 768px) {
    .line {
      flex-grow: 1;
    }
    .icon {
      transform: scale(0.8);
    }
  }
  
  .circle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* This centers the items vertically within the container, if needed */
  }
  
  .icon-text {
    font-size: 12px;
    margin-top: 5px; /* Adjust the spacing between the icon and the text */
  }
  
  .line-active {
    background-color: #6941C6;
    color: #6941C6;
  }
  
  .circle.active {
    transform: scale(1.1); /* Slightly larger circle when active */
  }
  